# Byte-compiled / optimized / DLL files
__pycache__/

# Jupyter Notebook
Data_exploration/.ipynb_checkpoints
CNN-n-GRU_TESS/.ipynb_checkpoints
CNN-n-GRU_IEMOCAP/.ipynb_checkpoints
# IPython
profile_default/
ipython_config.py

.idea/
