numpy
absl_py==1.0.0+computecanada
anyio==3.5.0+computecanada
appdirs==1.4.4+computecanada
argon2_cffi==21.3.0+computecanada
argon2_cffi_bindings==21.2.0+computecanada
asttokens==2.0.5+computecanada
astunparse==1.6.3+computecanada
async-timeout==4.0.2
attrs==21.4.0+computecanada
audiomentations==0.25.1
audioread==2.1.6+computecanada
Babel==2.9.1+computecanada
backcall==0.2.0+computecanada
beautifulsoup4==4.11.1+computecanada
bleach==5.0.0+computecanada
cachetools==5.1.0
certifi==2021.10.8+computecanada
cffi==1.15.0+computecanada
charset_normalizer==2.0.12+computecanada
click==8.1.3+computecanada
cycler==0.11.0+computecanada
debugpy==1.6.0+computecanada
decorator==5.1.1+computecanada
defusedxml==0.7.1+computecanada
Deprecated==1.2.13
entrypoints==0.4+computecanada
executing==0.8.3+computecanada
fastjsonschema==2.15.3+computecanada
filelock==3.6.0+computecanada
flatbuffers==20190709135844+computecanada
fonttools==4.33.3+computecanada
gast==0.5.3+computecanada
google-auth==2.6.6
google-pasta==0.2.0+computecanada
google_auth_oauthlib==0.4.6+computecanada
grpcio==1.44.0+computecanada
h5py==3.6.0+computecanada
idna==3.3+computecanada
importlib-metadata==4.11.4
importlib_resources==5.4.0+computecanada
ipykernel==6.13.0+computecanada
ipython==8.2.0+computecanada
ipython_genutils==0.2.0+computecanada
ipywidgets==7.7.0
jedi==0.18.1+computecanada
Jinja2==3.1.2+computecanada
joblib==1.1.0+computecanada
json5==0.9.6+computecanada
jsonschema==4.4.0+computecanada
julius==0.2.6
jupyter_client==7.2.2+computecanada
jupyter_core==4.9.2+computecanada
jupyter_server==1.16.0+computecanada
jupyterlab==3.3.3+computecanada
jupyterlab-widgets==1.1.0
jupyterlab_pygments==0.2.1+computecanada
jupyterlab_server==2.12.0+computecanada
keras==2.8.0+computecanada
Keras-Preprocessing==1.1.2+computecanada
kiwisolver==1.3.2+computecanada
libclang==12.0.0+computecanada
librosa==0.9.1
llvmlite==0.38.1+computecanada
Markdown==3.3.7
MarkupSafe==2.0.1+computecanada
matplotlib==3.5.1+computecanada
matplotlib_inline==0.1.3+computecanada
mistune==0.8.4+computecanada
msgpack==1.0.2+computecanada
nbclassic==0.3.7+computecanada
nbclient==0.6.0+computecanada
nbconvert==6.5.0+computecanada
nbformat==5.3.0+computecanada
nest_asyncio==1.5.5+computecanada
notebook==6.4.10+computecanada
notebook_shim==0.1.0+computecanada
numba==0.55.2+computecanada
numpy==1.22.2+computecanada
oauthlib==3.2.0
opt-einsum==3.3.0+computecanada
packaging==21.3+computecanada
pandas==1.4.1+computecanada
pandocfilters==1.5.0+computecanada
parso==0.8.3+computecanada
pexpect==4.8.0+computecanada
pickleshare==0.7.5+computecanada
Pillow==9.0.1+computecanada
Pillow-SIMD==7.0.0.post3+computecanada
pooch==1.6.0+computecanada
primePy==1.3
prometheus_client==0.14.1+computecanada
prompt_toolkit==3.0.29+computecanada
protobuf==3.20.1
psutil==5.9.0+computecanada
ptyprocess==0.7.0+computecanada
pure_eval==0.2.2+computecanada
pyasn1==0.4.8+computecanada
pyasn1-modules==0.2.8+computecanada
pycparser==2.21+computecanada
Pygments==2.11.2+computecanada
pyparsing==3.0.8+computecanada
pyrsistent==0.18.1+computecanada
python-dateutil==2.8.2+computecanada
pytz==2022.1+computecanada
PyYAML==6.0+computecanada
pyzmq==22.3.0+computecanada
ray==1.8.0+computecanada
redis==4.3.1
requests==2.27.1+computecanada
requests-oauthlib==1.3.1
resampy==0.2.2+computecanada
rsa==4.8+computecanada
scikit_learn==1.0.2+computecanada
scipy==1.8.0+computecanada
seaborn==0.11.2+computecanada
Send2Trash==1.8.0+computecanada
six==1.16.0+computecanada
sniffio==1.2.0+computecanada
SoundFile==0.10.3.post1+computecanada
soupsieve==2.3.2+computecanada
stack_data==0.2.0+computecanada
tabulate==0.8.9+computecanada
tensorboard==2.8.0+computecanada
tensorboard-data-server==0.6.1+computecanada
tensorboard-plugin-wit==1.8.1
tensorboardX==2.5
tensorflow==2.8.0+computecanada
tensorflow_io_gcs_filesystem==0.23.1+computecanada
termcolor==1.1.0+computecanada
terminado==0.13.3+computecanada
tf_estimator_nightly==2.8.0.dev2021122109+computecanada
threadpoolctl==3.0.0+computecanada
tinycss2==1.1.1+computecanada
torch==1.10.0+computecanada
torch-audiomentations==0.10.1
torch-pitch-shift==1.2.2
torchaudio==0.10.0+computecanada
torchvision==0.11.1+computecanada
tornado==6.1+computecanada
tqdm==4.64.0+computecanada
traitlets==5.1.1+computecanada
typing_extensions==4.1.1+computecanada
urllib3==1.26.9+computecanada
wcwidth==0.2.5+computecanada
webencodings==0.5.1+computecanada
websocket_client==1.3.2+computecanada
Werkzeug==2.1.2+computecanada
widgetsnbextension==3.6.0
wrapt==1.13.3+computecanada
zipp==3.8.0+computecanada
